#chat { 
    font-family:tahoma; 
    font-size:20px; 
    padding:0px;
    margin:0px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width:50%;
    background:linear-gradient(
        to right, rgba(105, 103, 105, 0.52),
        rgba(45, 45, 48, 0.835));
}
#chat p { 
    line-height:18px; 
}
#chat div { 
    margin-left:auto; 
    margin-right:auto;
}
#content { 
    padding:5px; 
    background: #fdfeff;; 
    border-radius:5px;
    overflow-y: scroll; 
    border:1px solid #ffffff;
    margin-top:10px; 
    height: 85%; 
    width:70%;
}
#input { 
    border-radius:2px; 
    border:1px solid #ccc;
    margin-top:10px; 
    padding:5px; 
    width:70%;
}
#status { 
    width:88px;
    display:block;
    float:left;
    margin-top:15px; 
}